<h1>Welcome to Tic Tac SHOW - click below to get started</h1>
<br>
<%= button_to "Sign up", new_user_path, class:"btn btn-default btn-lg btn-block", method: :get %>
<%= button_to "Login", new_session_path, class:"btn btn-default btn-lg btn-block", method: :get %>

