<p id="notice"><%= notice %></p>

<table style="border: 1px solid black;">
  <tr>
    <td>:a1</td>
    <td>:a2</td>
    <td>:a3</td>
  </tr>
  <tr>
    <td>:b1</td>
    <td>:b2</td>
    <td>:b3</td>
  </tr>
  <tr>
    <td>:c1</td>
    <td>:c2</td>
    <td>:c3</td>
  </tr>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
