.rose_fix {
  padding-top: 0px;
  height: 570px;
  padding-left: 10%;
}

.form-horizontal .control-label {
  text-align: left;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
.board {
  width: 400px;
  height: 400px;
  background-color: white;
}

.board_row {
  width: 100%;
  height: 33%;
  background-color: white;
}

.board_box {
  float: left;
  width: 33%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.board_box:hover {
  background-color: #7DF5F5;
}

a:link, a:hover, a:focus, a:visited {
  text-decoration: none;
}

.board_box img {
  width: 100%;
}

.board_box a {
  color: black;
  font-size: 6em;
}

.end_photos {
  width: 400px;
  height: 200px;
}

.end_row {
  width: 100%;
}

.end_box {
  float: left;
  width: 49%;
  height: 100%;
  width: 50%;
}

.end_box img {
  width: 100%;
}

.footer_by_rose {
  height: 30px;
  background-color: #4e5d6c;
  color: #ebebeb;
}


@media screen and (max-width: 480px){
  .board {
    width: 350px;
    height: 350px;
  }
  .board_box a {
    font-size: 5em;
  }
}
